<template>
    <div>
        <h1 class="text-center">Artists</h1>
        <div class="list-group">
            <router-link class="list-group-item list-group-item-action"
                    v-for="artist of artists" v-bind:key="artist.id" 
                    :to="{ name:'Artist', params: {id: artist.id} }" >
                <span>{{artist.name}}</span>
            </router-link>
        </div>
    </div>
</template>

<script>
import UnqfyService from '@/service/UnqfyService.js'

export default {
    data() {
        return {
            artists: []
        }
    },
    created() {
        UnqfyService.getArtists()
            .then((response) => {
                this.artists = response.data.data;
            })
            .catch((error) => {
                console.log(error);
            })
    }
}
</script>