<template>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <router-link class="navbar-brand" to="/">UnqFy</router-link>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" 
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <router-link class="nav-link" to="/about">About</router-link>
          </li>
          <li class="nav-item active">
            <router-link class="nav-link" to="/artists">Artists</router-link>
          </li>
        </ul>
      </div>
    </nav>
</template>

<style scoped>
.bg-dark {
    background-color: rgba(0,0,0,.8) !important;
}
</style>

<script>
export default {
    name: 'Header'
}
</script>