<template>
    <div class="position-relative">
        <div v-bind:class="{ 'title-img-artist': artist.urlImage }" >
            <h3 class="white">{{artist.name}}</h3>
            <h4 class="white">{{artist.country}}</h4>
        </div>
        <img v-if="artist.urlImage" v-bind:src="artist.urlImage" class="artist-portada" alt="Portada de artista">
        <!-- <button class="btn btn-primary" v-on:click="home" style="margin-top: 10px">Artists</button> -->
    </div>
</template>

<style scoped>
.title-img-artist {
    position: absolute;
    width: 100%;
    z-index: 99999;
    padding: 5px;
}

.artist-portada {
    background-size: cover;
    width: 100%;
    background: no-repeat center center fixed;
    min-height: 250px;
    max-height: 250px;
}
</style>

<script>
import UnqfyService from '@/service/UnqfyService.js'

export default {
    name: 'Artist',
    data() {
        return {
            artist: {}
        }
    },
    created() {
        let idArtist = this.$route.params.id;
        if(idArtist) {
            UnqfyService.getArtistById(idArtist)
                .then(response => {
                    this.artist = response.data.data[0] 
                })
                .catch(response => console.log(response))
        }
    },
    methods: {
        home() {
            this.$router.push('/artists');
        }
    }
}
</script>