<template>
  <div id="app">
    <Header/>
    <main class="container">
      <router-view/>
    </main>
  </div>
</template>

<style>
#app {
  min-height: 100vh;
  background-color: #181818;
}

main {
  margin-top: 10px;
}

.white {
  color: #fff;
}
</style>

<script>
import Header from './views/Header';

export default {
  name: 'App',
  components : {
    Header
  },
}
</script>
